@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat-Regular.ttf') format('truetype');
}

body, p, span, h1, h2, button, header, Btn {
  font-family: 'Montserrat', sans-serif;
}
